.theme-switch-button {
  all: unset;
  cursor: pointer;
  color: var(--content-primary);
  display: flex;
  gap: 8px;
  width: 54px;
  height: 16px;

  &::before {
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
    align-self: center;
    content: '';
  }
}
