/* Primary */
$white: #fff;
$black: #000;

/* Gray */
$gray100: #e3e5e5;
$gray200: #d8d8da;
$gray300: #9b9c9f;
$gray400: #6a6b6e;
$gray500: #24292e;
$gray600: #202325;
$gray700: #181818;
$gray800: #131316;

/* Accent */
$purple100: #f2eefe;
$purple200: #9747ff;
$purple300: #7950f2;
$purple400: #5b2b99;
