@use '@/styles/media-queries' as *;

.layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  max-width: 1180px;
  margin: 0 auto;
  gap: 20px;

  @include up-to-xl {
    justify-content: left;
  }
}

.sidecontent {
  min-width: 220px;
  height: 100%;

  @include up-to-xs {
    display: none;
  }
}

.sidebar {
  @extend .sidecontent;
}

.tableOfContents {
  @extend .sidecontent;
  background-color: lightgray;

  @include up-to-xl {
    display: none;
  }
}
