@use '@/styles/media-queries' as *;
@use '@/styles/variables' as *;

.layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  max-width: 1180px;
  position: relative;
  margin: 0 auto;
  gap: 20px;
  bottom: 100px;

  @include up-to-xl {
    justify-content: left;
  }

  .body {
    position: relative;
    top: 0;
    margin-top: calc($navbar-height * 2);
  }
}

@mixin sidecontent {
  position: sticky;
  min-width: 220px;
  height: 100%;
  min-height: 200px;
  top: calc($navbar-height + 16px);

  @include up-to-xs {
    display: none;
  }
}

.sidebar {
  @include sidecontent;
}

.tableOfContents {
  @include sidecontent;

  & {
    background-color: lightgray;
  }

  @include up-to-xl {
    display: none;
  }
}
