@use '@/styles/typography' as *;

.chip {
  @extend .caption;
  @extend .semi-bold;

  border-radius: 16px;
  border: 1px solid var(--content-accent);
  padding: 6px 12px;
  background-color: var(--content-accent-low-contrast);
}

.pointerCursor {
  cursor: pointer;
}
