@use '@/styles/typography' as *;

.breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 8px;
  padding: 0;
  list-style-type: none;
}

.breadcrumb {
  @extend .body-2;

  & a {
    text-decoration: none;

    &:last-child {
      @extend .semi-bold;
      pointer-events: none;
      color: var(--content-primary);
    }
  }
}

.clickable {
  color: var(--content-secondary);

  &:hover {
    color: var(--content-accent);
  }
}

.divider {
  color: var(--content-secondary);
  margin: 0 0 -2px 8px;
}
