@use '@/styles/typography' as *;

.breadcrumb {
  @extend .body-2;

  text-decoration: none;
  color: var(--content-primary);
}

.breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.clickable-breadcrumb {
  color: var(--content-secondary);
}
